@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap');

:root { /* Variables */
  --modal-bg-color: rgba(32, 32, 32, 0.5);
  --modal-bg-hover-color: rgba(32, 32, 32, 0.7);
  --text-color: rgba(240, 240, 240, 1);
  --positive-color: rgba(100, 242, 171, 1);
  --neutral-color: rgba(150, 150, 253, 1);
  --warn-color: rgba(253, 253, 150, 1);
  --negative-color: rgba(255, 81, 72, 1);
  --disabled-color: rgba(175, 175, 175, 1);
  --animation-init-time: 0s;
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

.App {
  background-color: #202020;
}

.App-logo {
  position: fixed;
  top: 15px;
  left: 15px;
  height: 50px;
}

.App-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-color);
}

.App-hidden {
  display: none !important;
}

.App-chart-container {
  width: 100vw;
  height: 10vh;
}

.App-button {
  padding-right: 100px;
  padding-left: 100px;
  height: 7vh;
  line-height: 7vh;
  font-weight: 900;

  flex-grow: 1;
  margin: 30px;
  border-radius: 40px;
  text-align: center;
  border: 2px solid;

  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  display: flex;
  flex-direction: row;

  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.App-button:active {
  transform: scale(0.9);
}

.App-button-record {
  border-color: var(--negative-color);
  color: var(--negative-color);
}

.App-button-record-hover-allowed:hover {
  background-color: var(--negative-color);
  color: var(--modal-bg-color);
}

.App-button-connect {
  border-color: var(--disabled-color);
  color: var(--disabled-color);
}

.App-button-connect:hover {
  background-color: var(--disabled-color);
  color: var(--modal-bg-color);
}

.App-data-type-text {
  padding: 20px;
  font-size: 14px;

  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: var(--animation-init-time);
  animation-fill-mode: forwards; 
  opacity: 0%; /* Animates to 100% */
}

.App-position-lower-right {
  right: 0px;
  bottom: 0px;
  position: fixed;
}

.App-position-top-right {
  right: 0px;
  top: 0px;
  position: fixed;
}

.App-recording-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--negative-color);

  position: relative;
  top: 50%;
  transform: translateY(-50%);

  animation-name: recordingPulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.App-connecting-circle {
  width: 48px;
  height: 48px;
  display: inline-block;

  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.App-connecting-circle::after,
.App-connecting-circle::before {
  content: '';  
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid var(--positive-color);
  position: absolute;
  left: 0;
  top: 0;
  animation: connectingPulse 2s linear infinite;
}
.App-connecting-circle::after {
  animation-delay: 1s;
}





.Modal-background {
  background-color: var(--modal-bg-color);
  width: 50vw;
  height: 35vh;
  padding: 30px;
  position: absolute;
  border-radius: 50px;
  backdrop-filter: blur(7.5px);
  
  -webkit-box-shadow: 0px 0px 32px 6px rgba(0,0,0,0.5); 
  box-shadow: 0px 0px 32px 6px rgba(0,0,0,0.5);
  
  transition: background-color 0.2s ease-in-out;
  animation-name: dropIn;
  animation-duration: 0.5s;
  animation-delay: var(--animation-init-time);
  animation-fill-mode: forwards; 

  opacity: 0%; /* Animates to 100% */
}

.Modal-background:hover {
  background-color: var(--modal-bg-hover-color);
}

.Modal-hidden {
  opacity: 100%; /* Animates to 0% */

  transition: background-color 0.2s ease-in-out;
  animation-name: dropOut;
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-fill-mode: forwards; 
}

.Modal-title {
  font-weight: 900;
  font-size: 5vh;
  text-align: center;
  white-space: nowrap;
}

.Modal-body {
  font-weight: 400;
  font-size: 3vh;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;

  position: absolute;
  top: 45%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.Modal-button-container {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.Modal-button {
  width: 100px;
  height: 7vh;
  line-height: 7vh;
  font-weight: 900;

  flex-grow: 1;
  margin: 30px;
  border-radius: 40px;
  text-align: center;
  border: 2px solid;

  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  display: flex;
  flex-direction: row;
  justify-content: center;

  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.Modal-button:active {
  transform: scale(0.9);
}

.Modal-button-primary {
  border-color: var(--positive-color);
  color: var(--positive-color);
  margin-left: 15px;
}

/* .Modal-button-primary:hover {
  background-color: var(--positive-color);
  color: var(--modal-bg-color);
} */

.Modal-button-primary-hover-allowed:hover {
  background-color: var(--positive-color);
  color: var(--modal-bg-color);
}

.Modal-button-secondary {
  border-color: var(--disabled-color);
  color: var(--disabled-color);
  margin-right: 15px;
}

.Modal-button-secondary:hover {
  background-color: var(--disabled-color);
  color: var(--modal-bg-color);
}





@keyframes dropIn {
  0%   {
    margin-top: -100px;
    opacity: 0%;
  }
  100% {
    margin-top: 0px;
    opacity: 100%;
  }
}

@keyframes dropOut {
  0%   {
    margin-top: 0px;
    opacity: 100%;
  }
  100% {
    margin-top: 100px;
    opacity: 0%;
  }
}

@keyframes fadeIn {
  0%   {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fillCircle {
  to { stroke-dasharray: 0 100; }
}

@keyframes recordingPulse {
  0%   {
    opacity: 100%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes connectingPulse {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/* Plans - generate random waves on site startup and start with full wave, clear and let wave fill in if and when there's a connection */