body {
  margin: 0;
}

.App {
  background-color: #202020;
}

.App-logo {
  position: fixed;
  top: 15px;
  left: 15px;
  height: 50px;
}

.App-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-chart-container {
  width: 100vw;
  height: 10vh;
}